<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/theme-cyborg.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block navigation %}
    {% include('AppBundle::nav.html.twig') %}
{% endblock navigation %}
{% block body %}
<div class="container">
    {% block medias %}
    {% endblock medias %}
    {% block movies %}
    {% endblock movies %}
    {% block series %}
    {% endblock series %}
    {% block modal %}
    {% endblock modal %}
</div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/mediaCenter.js') }}"></script>
{% endblock %}
</body>
</html>