{% extends 'AppBundle::base.html.twig'%}

{% block navigation %}

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">MediaCenter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('medias') }}">{{ 'medias.all'|trans }}</a></li>
                <li><a href="{{ path('movies') }}">{{ 'medias.movies'|trans }} <span class="badge">1{#{{ filmsTotal }}#}</span></a></li>
                <li><a href="{{ path('series') }}">{{ 'medias.tv_shows'|trans }} <span class="badge">0{#{{ seriesTotal }}#}</span></a></li>
                <li><a href="{{ path('add') }}">{{ 'add'|trans }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% endblock %}