{% extends 'AppBundle::base.html.twig'%}

{% block body %}

    {{ form_start(form) }}
        <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
        <button class="btn btn-hg btn-primary">
            Ajouter le média
        </button>
    {{ form_end(form) }}

{% endblock body %}