{% extends 'AppBundle::base.html.twig' %}

{% block medias %}

    {% if path(app.request.get('_route')) == '/medias' %}
        <h3>Films &amp; Séries</h3>
    {% elseif path(app.request.get('_route')) == '/movies' %}
        <h3>Films</h3>
    {% else %}
        <h3>Séries</h3>
    {% endif %}

    {% if movies %}
        {#<p>Films</p>#}
        {% for movie in movies %}
            <a data-toggle="modal" data-target="#descModal" href="" class="affiche"><img src="uploads/{{ movie.image }}" alt="{{ movie.nom }}" title="{{ movie.nom }}" /></a>
        {% endfor %}
    {% endif %}

    {% if series %}
        {#<p>Séries</p>#}
        {% for serie in series %}
            <a data-toggle="modal" data-target="#descModal" href="" class="affiche"><img src="uploads/{{ serie.image }}" alt="{{ serie.nom }}" title="{{ serie.nom }}" /></a>
        {% endfor %}
    {% endif %}
{% endblock medias %}